;
; Configuration file for Call Control
;

[CallControl]
;
; Section for configuring the call controller
;
; The following options are available here:
;
; socket   Path to the UNIX socket where the controller receives
;          commands from OpenSIPS. This should match the value for
;          call_control_socket in opensips.cfg
;          Default value: /run/callcontrol/socket
;
; group    Put the socket in this group and make it group writable.
;          Default value: opensips
;
; limit    Limit call duration to this value (in seconds) for all calls.
;          Prepaid calls will not use this value, if prepaid_limit is set.
;          The value should be the number of seconds of the desired limit
;          for the call duration or None for no limit. Warning: 0 means
;          exactly that: 0 seconds, not diabled. Use None for disabled.
;          Default value: None 
;
; prepaid_limit Limit call duration of prepaid calls to this value. If this
;               option is not set, then the global limit option applies. If
;               this is not set either, the maximum duration of prepaid calls
;               is set to 10h. If the limit calculated based on the credit
;               value is smaller, then this will apply rather than the setting
;               determined above.
;               The value should be the number of seconds of the desired limit
;               for the call duration or None for no limit. Warning: 0 means
;               exactly that: 0 seconds, not diabled. Use None for disabled.
;               Default value: None 
;
;socket            = /run/callcontrol/socket
;group             = opensips
;limit             = None
;prepaid_limit     = None

[CDRTool]
;
; Configure where CDRTool rating engine is located
;
; address        Network address where the rating engine is located.
;
;                 - address[:port]
;                     send rating requests (querying or changing the rating
;                     credit for a SIP account) to this address. address can
;                     be an IP or a hostname. If port is missing assume 9024.
;
;                Default value: cdrtool.<localdomain>
;
; timeout        Timeout after this many milliseconds while waiting for
;                response from rating engine.
;
;                Default value: 500
;
;address = cdrtool.<localdomain>
;timeout = 500

[RadiusDatabase]
;
; This is used to detect calls that ended or did timeout while callcontrol
; was stopped/restarting. This check is only performed once when starting
; so that the list of calls that was saved before stopping can be updated
; based on what happened while callcontrol was stopped.
;
; The table name can contain strftime time specifications (like %Y %m).
; The percent character needs to be escaped by doubling it, so a dynamic
; table name would look like radacct%%Y%%m
;
;user = dbuser
;password = dbpass
;host = dbhost
;database = radius
;table = radacct%%Y%%m

[OpenSIPS]
;
; Configure connection to OpenSIPS' MI
;
; socket_path  Path to the OpenSIPS MI socket
;              Default value: /run/opensips/socket
;
;socket_path = /run/opensips/socket

