;
; Configuration file for Call Control
;

[CallControl]
;
; Section for configuring the call controller
;
; The following options are available here:
;
; socket   Path to the UNIX socket where the controller receives
;          commands from OpenSIPS. This should match the value for
;          call_control_socket in opensips.cfg
;          Default value: /var/run/callcontrol/socket
;
; group    Put the socket in this group and make it group writable.
;          Default value: opensips
;
; limit    Limit call duration to this value (in seconds) for all calls.
;          Prepaid calls will not use this value, they will have the time
;          limit calculated based on their credit.
;          The value should be the number of seconds of the desired limit
;          for the call duration or None for no limit. Warning: 0 means
;          exactly that: 0 seconds, not diabled. Use None for disabled.
;          Default value: None 
;
; timeout_detection  The mechanism used to find out about timed out calls. If
;                    set to `radius', it will consider the section
;                    RadiusDatabase in order to make a connection to the radius
;                    database. This is only needed if MediaProxy does not use
;                    OpenSIPS' dialog module to terminate a call that has timed
;                    out. Otherwise, set to `dialog'.
;
;socket            = /var/run/callcontrol/socket
;group             = opensips
;limit             = None
;timeout_detection = dialog

[CDRTool]
;
; Configure where CDRTool rating engine is located
;
; address        Network address where the rating engine is located.
;
;                 - address[:port]
;                     send rating requests (querying or changing the rating
;                     credit for a SIP account) to this address. address can
;                     be an IP or a hostname. If port is missing assume 9024.
;
;                Default value: cdrtool.<localdomain>
;
; timeout        Timeout after this many milliseconds while waiting for
;                response from rating engine.
;
;                Default value: 500
;
;address = cdrtool.<localdomain>
;timeout = 500

[RadiusDatabase]
;
; Used to keep track of calls that timeout and are closed by external means
; (like mediaproxy) without sending BYEs that will close the call in the
; call controller the normal way.
; Database table can be defined as static (e.g. radacct) or as strftime like
; time specification (e.g. radacct%Y%m). This section is used if the option
; timeout_detection in CallControl section is set to `radius'.
;
;user = dbuser
;password = dbpass
;host = dbhost
;database = radius
;table = radacct%Y%m

[OpenSIPS]
;
; Configure connection to OpenSIPS' MI
;
; socket_path      Path to OpenSIPS' MI socket.
;
;                  Default value: /var/run/opensips/socket
;
; max_connections  Maximum number of connections to OpenSIPS' MI socket. The
;                  connections are created as needed.
;
;                  Default value: 10
;
;socket_path = /var/run/opensips/socket
;max_connections = 10
