recursive-include debian  callcontrol.init callcontrol.manpages callcontrol.postinst changelog compat control copyright dirs docs pycompat rules
recursive-include doc/man *.[1-9]
prune debian/tmp
prune debian/callcontrol
include INSTALL LICENSE MANIFEST.in config.ini.sample changelog
