Source: callcontrol
Section: non-free/net
Priority: optional
Maintainer: Lucian Stanescu <luci@ag-projects.com>
Uploaders: Dan Pascu <dan@ag-projects.com>, Adrian Georgescu <ag@ag-projects.com>
Build-Depends: cdbs (>= 0.4.47), debhelper (>= 5.0.42), python-all-dev (>= 2.4.4), python-support
Standards-Version: 3.7.3

Package: callcontrol
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-application (>= 1.0.9), python-twisted-core, python-sqlobject
Description: Call control SIP prepaid application
 Call Control is an application that can be used together with OpenSIPS to
 limit the duration of SIP sessions. The applications that can be build upon
 this functionality include prepaid systems using an external rating engine
 (like CDRTool rating engine), for limiting the maximum call duration to a
 certain value or being able to close calls in progress based on various
 rules.
 .
 Call Control can close a call in progress, by sending BYE messages to both
 parties, if the call does exceed its specified time limit or if Call Control
 receives a command to forcefully close the call from outside. It will
 however not send these fake BYE messages if the call is normally terminated
 by either party involved in the conversation, before the call maximum
 allowed time is exceeded.
