Source: callcontrol
Section: net
Priority: optional
Maintainer: Lucian Stanescu <luci@ag-projects.com>
Uploaders: Dan Pascu <dan@ag-projects.com>, Adrian Georgescu <ag@ag-projects.com>
Build-Depends: cdbs (>= 0.4.53), debhelper (>= 7.0.0), python-all-dev (>= 2.4.4), python-support
Standards-Version: 3.8.2

Package: callcontrol
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-application (>= 1.1.2), python-twisted-core, python-sqlobject
Description: Call Control prepaid application for OpenSIPS
 Call Control is a prepaid application that can be used together with
 OpenSIPS call_control module and CDRTool rating engine to limit the duration
 of SIP sessions based on a prepaid balance. It can also be used to limit the
 duration of any session to a predefined maximum value without debiting a
 balance.
 .
 Call Control achieves this by maintaining a timer for each session and
 sending BYE messages to both SIP end-points, if the session exceeds its
 maximum session limit or if the Call Control receives a command to
 forcefully close the call from outside.
