#!/usr/bin/make -f

%:
	dh $@ --with python2 --buildsystem=pybuild

override_dh_clean:
	dh_clean
	rm -rf build dist MANIFEST

override_dh_auto_install:
	dh_auto_install
	mv debian/callcontrol/etc/callcontrol/config.ini.sample debian/callcontrol/etc/callcontrol/config.ini

override_dh_installsystemd:
	dh_installsystemd --no-start

override_dh_fixperms:
	dh_fixperms
	chmod 600 debian/callcontrol/etc/callcontrol/config.ini

